/* ========== General Styles =========== */
body {
	font-family: "Ubuntu", sans-serif;
}
/* =============== Header ============== */
h1 {
	font-size: 32px;
}

/* =========== Pagination row ========== */
span {
	vertical-align: middle;
}

/* =============== Table  ============== */
.data-table {
	font-size: 10px;
}

td,
th {
	height: 60px;
	width: 120px;
	padding: 5px;
}

.page-row {
	text-align: center;
}

/* Override Materialize table default for border */
tr.header {
	border-bottom: 3px solid black !important;
}

tr.header th:hover {
	background-color: #4caf50;
}

.material-icons {
	font-size: 12px;
}



