/* ===== General Styles ===== */
body {
	font-family: "Ubuntu", sans-serif;
}
/* ===== Header ===== */
h1 {
	font-size: 32px;
}

/* ===== Table  ===== */
.data-table {
	font-size: 10px;
}

i {
	font-size: 18px;
}


